body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
    background-color: black;
    width: 100%;
    position: fixed;
}

nav img{
    height: 1.7em;
    width: auto;
    margin: 0.75em;
    position: relative;
    left: 109px;
}

footer img{
    height: 1.7em;
    width: auto;
    margin: 0.75em;
    margin-left: 39px;
}

body > div{
    width: 100%;
    height: 45em;
    background-image: linear-gradient(#F037A5 -60%, #FAE62D 140%)
}

main{
    width: 100%;
    height: 45em;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

main h1{
    font-size: 4.5em;
    font-weight: bolder;
    margin: 0;
}

main p{
    font-size: 1.5em;
    margin: 0.2em;
}

main input{
    background-color: #1ED760;
    border: none;
    padding: 1em;
    margin: 2em; 
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 20em;
    font-size: 1.25em;
}

#pai{
    margin-top: -1em;
    background-color: black;
    height: 556px;
    padding: 0em 5em;
}

.fab{
    font-size: 1.5em;
    color: white;
    background: #222326;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}

.sobre{
    display: flex;
    padding-top: 25px;

}

.sobre > ul > li:first-child{
    color: rgb(145, 148, 131);
    text-transform: uppercase;
    list-style: none;

}

.sobre > ul > li{
    padding-bottom: 2em;
    margin-right: 5em; 
}

.sobre > ul > li a{
    text-decoration: none;
    color: white;
}

.sobre > ul > li a:hover{
    color: #1ED760;
}

.icones{
    padding-top: 50px;
}

.icones ul li{
    display: inline;
}

.icones ul li:hover{
    color: #1ED760;
}

.copright{
    display: flex;
    background-color: black;
    padding-left: 66px;
    padding-bottom: 8px;
}

.copright > ul> li a{
    text-decoration: none;
    color: #919496;
    padding: 10px;
    font-size: 12px;
}

.copright > ul> li a:hover{     
    color: #1ED760;
}

.copright ul li{
    display: inline;
}